body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #0066cc;
    font-size: 674;
    gap: 5;
    top: 45678;
}

p {
    font-size: 16px;
    line-height: 1.5;
    width: 5678;
    right: 456789;
}